<body id="body-pd">
  {{>header}}
  <div class="container-fluid">
    <br>
    <div class="col-2 d-flex">
      <a class="btn btn-primary" id="aButton" href="/dashboard/item" role="button">Voltar</a>
    </div>
    <br>
    <div class="border bg-light">
      <br>
      <div class="row ms-3">
        <h3>Novo incidente</h3>
      </div>
      <hr class="bg-dark border-1 border-top border-dark mx-5">
      <br>
      <form method="POST" action="/dashboard/new-door" class="needs-validation" novalidate="" autocomplete="off">
        <input type="hidden" id="id" name="id" value="{{item.id}}">
        <div class="row mx-3">
          <label for="title" class="col-sm-2 col-form-label d-flex justify-content-end">Título: </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="title" name="title" value="{{ incident.title }}">
          </div>
        </div>
        <div id="incidentTypeSelect" class="d-block">
          <br>
          <div class="row mx-3">
            <label for="locationId" class="col-sm-2 col-form-label d-flex justify-content-end">Tipo de incidente: </label>
            <div class="col-sm-4">
              <select class="form-select form-control" name="locationId" id="locationId">
                {{#select item.locationId}}
                  <option disabled selected value></option>
                  {{#each locations}}
                    <option value="{{ this.id }}">{{ this.name }}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-primary" id="showIncidentTypeForm">Não encontrei na lista</a>
            </div>
          </div>
        </div>
        <div id="incidentTypeForm" class="d-none">
          <br>
          <div class="row mx-3">
            <label for="incidentTypeName" class="col-sm-2 col-form-label d-flex justify-content-end">Nome do tipo de incidente: </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="incidentTypeName" name="incidentTypeName">
            </div>
            <div class="col-sm-4">
              <a class="btn btn-primary" id="hideIncidentTypeForm">Procurar na lista</a>
            </div>
          </div>
          <br>
          <div class="row mx-3">
            <label for="incidentTypeDescription" class="col-sm-2 col-form-label d-flex justify-content-end">Descrição do tipo de incidente: </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="incidentTypeDescription" name="incidentTypeDescription">
            </div>
          </div>
        </div>
        <div id="locationSelect" class="d-block">
          <br>
          <div class="row mx-3">
            <label for="locationId" class="col-sm-2 col-form-label d-flex justify-content-end">Local: </label>
            <div class="col-sm-4">
              <select class="form-select form-control" name="locationId" id="locationId">
                {{#select item.locationId}}
                  <option disabled selected value></option>
                  {{#each locations}}
                    <option value="{{ this.id }}">{{ this.name }}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-primary" id="showLocationForm">Não encontrei na lista</a>
            </div>
          </div>
        </div>
        <div id="locationForm" class="d-none">
          <br>
          <div class="row mx-3">
            <label for="locationName" class="col-sm-2 col-form-label d-flex justify-content-end">Nome do local: </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="locationName" name="locationName">
            </div>
            <div class="col-sm-4">
              <a class="btn btn-primary" id="hideLocationForm">Procurar na lista</a>
            </div>
          </div>
          <br>
          <div class="row mx-3">
            <label for="locationDescription" class="col-sm-2 col-form-label d-flex justify-content-end">Descrição do local: </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="locationDescription" name="locationDescription">
            </div>
          </div>
        </div>
        <div id="itemSelect" class="d-block">
          <br>
          <div class="row mx-3">
            <label for="locationId" class="col-sm-2 col-form-label d-flex justify-content-end">Item: </label>
            <div class="col-sm-4">
              <select class="form-select form-control" name="locationId" id="locationId">
                {{#select item.locationId}}
                  <option disabled selected value></option>
                  {{#each locations}}
                    <option value="{{ this.id }}">{{ this.name }}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-primary" id="showItemForm">Não encontrei na lista</a>
            </div>
          </div>
        </div>
        <div id="itemForm" class="d-none">
          <br>
          <div class="row mx-3">
            <label for="itemName" class="col-sm-2 col-form-label d-flex justify-content-end">Nome do item: </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="itemName" name="itemName">
            </div>
            <div class="col-sm-4">
              <a class="btn btn-primary" id="hideItemForm">Procurar na lista</a>
            </div>
          </div>
          <br>
          <div class="row mx-3">
            <label for="itemDescription" class="col-sm-2 col-form-label d-flex justify-content-end">Descrição do item: </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="itemDescription" name="itemDescription">
            </div>
          </div>
        </div>
        <br>
        <div class="row mx-3">
          <label for="description" class="col-sm-2 col-form-label d-flex justify-content-end">Descrição: </label>
          <div class="col-sm-4">
            <textarea type="text" rows="5" class="form-control" id="description" name="description">{{ incident.description }}</textarea>
          </div>
        </div>
        <br>
        <div class="row mx-3">
          <label for="startDate" class="col-sm-2 col-form-label d-flex justify-content-end">Data: </label>
          <div class="col-sm-4">
            <input type="datetime-local" class="form-control" id="startDate" name="startDate" value="{{ incident.startDate }}">
          </div>
        </div>
        <br>
        <br>
        <br>
        {{#if showError }}
          {{#each errors}}
            <div class="row mx-3">
              <div class="col-sm-4">
                <p class="text-danger">ERRO: {{this}}</p>
              </div>
            </div>
          {{/each}}
        {{/if}}
        <div class="row mx-3 d-flex justify-content-end">
            <div class="col-2 ">
              <button type="submit" class="btn btn-success ms-auto btn-lg">Salvar</button>
            </div>
        </div>
      </form>
      <br>
      <br>
    </div>
  </div>
</body>