<body id="body-pd">
  {{>header}}
  <a class="btn btn-primary-light-color btn-lg" href="/dashboard/incident-type" role="button">Voltar</a>
  <div class="container">
  <main>
    <div class="py-5 text-justify">
      <h2>Tipo de incidente</h2>
      <br>
      <p class="lead">Classificação do incidente, como `Manutenção` ou `Troca`.</p>
    </div>
    {{#if showError }}
      {{#each errors}}
        <div class="row mx-3">
          <div class="col-sm-4">
            <p class="text-danger">ERRO: {{this}}</p>
          </div>
        </div>
      {{/each}}
    {{/if}}
    <div class="row g-5">
      <div class="col-md-12 col-lg-10">
        <h4 class="mb-3">Dados</h4>
        <form method="POST" action="{{ uri }}" class="needs-validation" novalidate="" autocomplete="off">
          <input type="hidden" id="id" name="id" value="{{incidentType.id}}">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ incidentType.name }}" placeholder="Ex: Manutenção">
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Descrição</label>
              <input type="text" class="form-control" id="description" name="description" value="{{ incidentType.description }}" placeholder="Ex: Item necessita de reparo">
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary-light-color btn-lg" type="submit">Salvar</button>
        </form>
      </div>
    </div>
  </main>
  <br>
  <br>
</body>