<body id="body-pd">
  {{>header}}
  <a class="btn btn-primary-light-color btn-lg" href="{{ backUrl }}" role="button">Voltar</a>
  <div class="container">
  <main>
    <div class="py-5 text-justify">
      <h2>Incidente</h2>
      <br>
      <p class="lead">Relate o ocorrido com o máximo de detalhes.</p>
    </div>
    {{#if showError }}
      {{#each errors}}
        <div class="row mx-3">
          <div class="col-sm-4">
            <p class="text-danger">ERRO: {{this}}</p>
          </div>
        </div>
      {{/each}}
    {{/if}}
    <div class="row g-5">
      <div class="col-md-12 col-lg-10">
        <form method="POST" enctype="multipart/form-data" action="{{ uri }}" class="needs-validation" novalidate="" autocomplete="off">
          <input type="hidden" id="id" name="id" value="{{incident.id}}">
          <hr class="my-4">
          <h4 class="mb-3">Prioridade</h4>
          <div class="col-md-12">
            <label for="incidentTypeId" class="form-label">Prioridade do incidente</label>
            <select class="form-select form-control" id="priority" name="priority">
              {{#select incident.priority}}
                <option disabled selected value>Selecione...</option>
                <option value="0">Baixa</option>
                <option value="1">Média</option>
                <option value="2">Alta</option>
              {{/select}}
            </select>
          </div>
          <hr class="my-4">
          <h4 class="mb-3">Tipo</h4>
          <div id="incidentTypeSelect" class="d-block">
            <div class="col-md-12">
              <label for="incidentTypeId" class="form-label">Tipo do incidente</label>
              <select class="form-select form-control" id="incidentTypeId" name="incidentTypeId">
                {{#select incident.incidentTypeId}}
                  <option value="0">Selecionar...</option>
                  {{#each incidentTypes}}
                    <option value="{{ this.id }}">{{ this.name }}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
            <br>
            <div class="col-sm-4">
              <a class="btn btn-primary-light-color" id="showIncidentTypeForm">Não encontrei na lista</a>
            </div>
          </div>
          <div id="incidentTypeForm" class="d-none">
            <div class="col-md-12">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="incidentTypeName" class="form-label">Nome do tipo de incidente</label>
                  <input type="text" class="form-control" id="incidentTypeName" name="incidentTypeName" placeholder="Ex: Manutenção">
                </div>
                <div class="col-sm-6">
                  <label for="incidentTypeDescription" class="form-label">Descrição do tipo de incidente</label>
                  <input type="text" class="form-control" id="incidentTypeDescription" name="incidentTypeDescription" placeholder="Ex: Item necessita de reparo">
                </div>
              </div>  
            </div>
            <br>
            <div class="col-sm-4">
              <a class="btn btn-primary-light-color" id="hideIncidentTypeForm">Procurar na lista</a>
            </div>
          </div>
          <hr class="my-4">
          <h4 class="mb-3">Local</h4>
          <div id="locationSelect" class="d-block">
            <div class="col-md-12">
              <label for="locationId" class="form-label">Local do incidente</label>
              <select class="form-select form-control" id="locationId" name="locationId">
                {{#select incident.locationId}}
                  <option value="0">Selecionar...</option>
                  {{#each locations}}
                    <option value="{{ this.id }}">{{ this.name }}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
            <br>
            <div class="col-sm-4">
              <a class="btn btn-primary-light-color" id="showLocationForm">Não encontrei na lista</a>
            </div>
          </div>
          <div id="locationForm" class="d-none">
            <div class="col-md-12">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="locationName" class="form-label">Nome do local</label>
                  <input type="text" class="form-control" id="locationName" name="locationName" placeholder="Ex: Sala A12 Sept">
                </div>
                <div class="col-sm-6">
                  <label for="locationDescription" class="form-label">Descrição do local</label>
                  <input type="text" class="form-control" id="locationDescription" name="locationDescription" placeholder="Ex: 1 sala do corredor">
                </div>
              </div>  
            </div>
            <br>
            <div class="col-sm-4">
              <a class="btn btn-primary-light-color" id="hideLocationForm">Procurar na lista</a>
            </div>
          </div>
          <hr class="my-4">
          <h4 class="mb-3">Item</h4>
          <div id="itemSelect" class="d-block">
            <div class="col-md-12">
              <label for="itemId" class="form-label">Item do incidente</label>
              <select class="form-select form-control" id="itemId" name="itemId">
                {{#select incident.itemId}}
                  <option value="0">Selecionar...</option>
                  {{#each items}}
                    <option value="{{ this.id }}">{{ this.name }}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
            <br>
            <div class="col-sm-4">
              <a class="btn btn-primary-light-color" id="showItemForm">Não encontrei na lista</a>
            </div>
          </div>
          <div id="itemForm" class="d-none">
            <div class="col-md-12">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="itemName" class="form-label">Nome do item</label>
                  <input type="text" class="form-control" id="itemName" name="itemName" placeholder="Ex: Projetor">
                </div>

                <div class="col-sm-6">
                  <label for="itemDescription" class="form-label">Descrição do item</label>
                  <input type="text" class="form-control" id="itemDescription" name="itemDescription" placeholder="Ex: Projetor amarelo">
                </div>
              </div>  
            </div>
            <br>
            <div class="col-sm-4">
              <a class="btn btn-primary-light-color" id="hideItemForm">Procurar na lista</a>
            </div>
          </div>

          <hr class="my-4">
          <h4 class="mb-3">Detalhes</h4>
          <div class="col-12">
            <label for="title" class="form-label">Título</label>
              <input type="text" class="form-control" id="title" placeholder="Ex: Projetor danificado" name="title" value="{{ incident.title }}">
          </div>
          <br>
          <div class="col-12">
            <label for="description" class="form-label">Descrição</label>
            <textarea type="text" rows="5" class="form-control" id="description" name="description" placeholder="Detalhes do incidente">{{ incident.description }}</textarea>
          </div>
          <br>
          <div class="col-12">
            <label for="image" class="form-label">Imagem</label>
            <input class="form-control" type="file" id="image" name="image">
          </div>
          <br>
          {{#if (show_incident_image incident.fileMetadataId)}}
            <div class="col-12">
              <img id="incident-image-preview" src="/file/{{ incident.fileMetadataId }}" class="img-thumbnail" width="500" height="200">
            </div>   
            <br>     
          {{else}}    
            <img hidden id="incident-image-preview" src="#" class="img-thumbnail" width="500" height="200">
          {{/if}}
          <hr class="my-4">
          
          <button class="w-100 btn btn-primary-light-color btn-lg" type="submit">Salvar</button>
        </form>
      </div>
    </div>
  </main>
  <br>
  <br>
</body>