<body id="body-pd">
  {{>header}}
  <div class="container-fluid">
    <br>
    <br>
    <div class="row g-5">
      <div class="col-12 col-sm-12 col-md-6 col-lg-8">
        <h1>{{ pageTitle }}</h1>
      </div>
      {{#if showCreateIncidentButton}}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <a class="btn btn-primary-light-color btn-lg" href="/dashboard/incident/create?origin={{ content.origin }}" role="button">Novo incidente</a>
        </div>
      {{/if}}
    </div>
    <br>
    <br>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <br>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav_link {{ set_active_tab "pendente" content.incidentStatus }}" href="{{ uri }}?incidentStatus=pendente">Em atendimento{{#if unreads.totalUnreadPending }}<span class="badge bg-danger">{{ unreads.totalUnreadPending }}</span>{{/if}}</a>
            </li>
            <li class="nav-item">
              <a class="nav_link {{ set_active_tab "aberto" content.incidentStatus }}" href="{{ uri }}?incidentStatus=aberto">Aberto{{#if unreads.totalUnreadOpen }}<span class="badge bg-danger">{{ unreads.totalUnreadOpen }}</span>{{/if}}</a>
            </li>
            <li class="nav-item">
              <a class="nav_link {{ set_active_tab "fechado" content.incidentStatus }}" href="{{ uri }}?incidentStatus=fechado">Finalizado{{#if unreads.totalUnreadClosed }}<span class="badge bg-danger">{{ unreads.totalUnreadClosed }}</span>{{/if}}</a>
            </li>
            <li class="nav-item">
              <a class="nav_link {{ set_active_tab "" content.incidentStatus }}" href="{{ uri }}">Todos{{#if unreads.totalUnread }}<span class="badge bg-danger">{{ unreads.totalUnread }}</span>{{/if}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <div id="searchForm" class="{{ classSearchForm }}">
      <div class="row g-5">
        <div class="col-md-12 col-lg-10">
          <a href="{{ uri }}?incidentStatus={{content.incidentStatus}}" class="btn btn-danger border border-3">Cancelar pesquisa</a>
          <br>
          <br>
          <form method="POST" action="/dashboard/incident/search" class="needs-validation" novalidate="" autocomplete="off">
            <input type="hidden" id="origin" name="origin" value="{{content.origin}}">
            <input type="hidden" id="incidentStatus" name="incidentStatus" value="{{content.incidentStatus}}">
            <div class="row g-3">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <label for="incidentId" class="form-label">ID</label>
                <input type="text" class="form-control" id="incidentId" name="incidentId" placeholder="Ex: 1234" value="{{ content.incidentId }}">
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <label for="incidentTitle" class="form-label">Título</label>
                <input type="text" class="form-control" id="incidentTitle" name="incidentTitle" placeholder="Ex: Projetor danificado" value="{{ content.incidentTitle }}">
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <label for="incidentOpenDate" class="form-label">Data de abertura</label>
                <input type="datetime-local" class="form-control" id="incidentOpenDate" name="incidentOpenDate" value="{{format_object_datetime content.incidentOpenDate }}">
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <label for="incidentEndDate" class="form-label">Data de fechamento</label>
                <input type="datetime-local" class="form-control" id="incidentEndDate" name="incidentEndDate" value="{{format_object_datetime content.incidentEndDate }}">
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <label for="incidentUserName" class="form-label">Nome do usuário</label>
                <input type="text" class="form-control" id="incidentUserName" name="incidentUserName" placeholder="Ex: João Silva" value="{{ content.incidentUserName }}">
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <label for="incidentUserEmail" class="form-label">Email do usuário</label>
                <input type="text" class="form-control" id="incidentUserEmail" name="incidentUserEmail" placeholder="Ex: joao.silva@mail.com" value="{{ content.incidentUserEmail }}">
              </div>
              
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <label for="incidentTypeId" class="form-label">Tipo de incidente</label>
                <select class="form-select form-control" id="incidentTypeId" name="incidentTypeId">
                  {{#select content.incidentTypeId}}
                    <option value="0">Selecionar...</option>
                    {{#each incidentTypes}}
                      <option value="{{ this.id }}">{{ this.name }}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <label for="locationId" class="form-label">Local</label>
                <select class="form-select form-control" id="locationId" name="locationId">
                  {{#select content.locationId}}
                    <option value="0">Selecionar...</option>
                    {{#each locations}}
                      <option value="{{ this.id }}">{{ this.name }}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <label for="itemId" class="form-label">Item (Selecionar local primeiro)</label>
                <select class="form-select form-control" id="itemId" name="itemId">
                  {{#select content.itemId}}
                    <option value="0">Selecionar...</option>
                    {{#each items}}
                      <option value="{{ this.id }}">{{ this.name }}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
            </div>
            <br>
            <button type="submit" class="btn border border-3">Pesquisar <i class='bx bx-search nav_icon'></i></button>
          </form>
          <br>
        </div>
      </div>
    </div>
    {{#if showContent }}
      <div id="searchButton" class="{{ classSearchButton }}">
        <button id="showSearchFormButton" class="btn border border-3">Pesquisar <i class='bx bx-search nav_icon'></i></button>
      </div>
      
    {{/if}}
    <br>
    <br>
    {{#if showContent }}
      {{#each incidents}}
        <div class="card">
          <h5 class="card-header bg-primary-color text-white">#{{this.id}} | {{this.userName}} - {{format_incident_date this.startDate}}</h5>
          <div class="card-body">
            <p><span class="badge bg-{{label_status_priority this.priority}}">{{text_status_priority this.priority }}</span></p>
            <p><span class="badge bg-{{label_status_incident this.status}}">{{text_status_incident this.status }}</span></p>
            <h4 class="card-title">{{this.title}}</h4>
            <br>
            <p><i class='bx bx-category nav_icon'></i> {{ this.incidentTypeName }}</p>
            <p><i class='bx bx-buildings nav_icon'></i> {{ this.locationName }}</p>
            <p><i class='bx bx-package nav_icon'></i> {{ this.itemName }}</p>
            <p><i class='bx bx-message nav_icon'></i> {{ this.totalInteractions }} {{#if this.totalUnreadInteractions}} - <span class="badge bg-danger">{{ this.totalUnreadInteractions }}</span> {{/if}}</p>
            <a href="/dashboard/incident/{{this.id}}?origin={{ ../content.origin }}" class="btn btn-primary-light-color">Acessar incidente</a>
          </div>
        </div>
        <br>
      {{/each}}
      <br>
      <div class="row g-3">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
          <p>Total de resultados: {{ pagination.total }}</p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
          <select class="form-select" name="limit" id="registers-per-page">
            {{#select content.maxPerPage}}
              <option disabled selected value>Registros por página</option>
              <option data-url="{{ incidents_registers_per_page_url "1" uri content }}" value="1">1 registro por página</option>
              <option data-url="{{ incidents_registers_per_page_url "2" uri content }}" value="2">2 registros por página</option>
              <option data-url="{{ incidents_registers_per_page_url "3" uri content }}" value="3">3 registros por página</option>
              <option data-url="{{ incidents_registers_per_page_url "4" uri content }}" value="4">4 registros por página</option>
              <option data-url="{{ incidents_registers_per_page_url "5" uri content }}" value="5">5 registros por página</option>
              <option data-url="{{ incidents_registers_per_page_url "10" uri content }}" value="10">10 registros por página</option>
            {{/select}}
          </select>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-1">
          <nav aria-label="Páginas">
            <ul class="pagination">
              <li class="page-item {{is_pagination_button_enabled pagination.previousPage}}">
                <a class="page-link" href="{{ pagination.previousPage.pageUrl }}" aria-label="Anterior">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {{#each pagination.pages}}
                <li class="page-item mx-1 rounded-circle {{ this.active }}">
                  <a class="page-link" href="{{ this.pageUrl }}">{{ this.pageNumber }}</a>
                </li>
              {{/each}}
              <li class="page-item {{is_pagination_button_enabled pagination.nextPage}}">
                <a class="page-link" href="{{ pagination.nextPage.pageUrl }}" aria-label="Próximo">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <br>
    {{else}}
      <br>
      <div class="row mx-5 d-flex justify-content-center">
        <div class="col-3 d-flex justify-content-center">
          <h5>Nenhum incidente encontrado</h5>
        </div>
      </div>
    {{/if}}
  </div>
</body>