<body id="body-pd">
  {{>header}}
  <div class="container-fluid">
    <br>
    <br>
    <div class="row mx-4">
      <div class="col-8">
        <h1>Incidentes</h1>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-4 rounded">
        <nav class="nav-tabs">
          <a class="nav-link {{ set_active_tab "aberto" activeTab}}" href="/dashboard/incident?status=aberto">Abertos</a>
          <a class="nav-link {{ set_active_tab "pendente" activeTab}}" href="/dashboard/incident?status=pendente">Em atendimento</a>
          <a class="nav-link {{ set_active_tab "fechado" activeTab}}" href="/dashboard/incident?status=fechado">Finalizados</a>
          <a class="nav-link {{ set_active_tab "" activeTab}}" href="/dashboard/incident">Todos</a>
        </nav>
      </div>
    </div>
    <br>
    {{#if showContent }}
      {{#each incidents}}
        <div class="col-10 rounded bg-white">
          <br>
          <div class="row mx-4">
            <div class="col-3 d-flex justify-content-start">
              <h4>{{this.title}}</h4>
            </div>
            <div class="col-2 d-flex justify-content-start">
              <h6>{{this.userName}}</h6>
            </div>
            <div class="col-7 d-flex justify-content-end">
              <h4>{{format_incident_date this.startDate}}</h4>
            </div>
          </div>
          <br>
          <div class="row mx-5">
            <div class="col-12 d-flex justify-content-center">
              <p>{{this.description}}</p>
            </div>
          </div>
          <br>
          <div class="row mx-5">
            <div class="col-1">
              <span class="badge bg-{{label_status_incident this.status}}">{{text_status_incident this.status }}</span>
            </div>
            <div class="col-1">
               <i class='bx bx-message nav_icon'></i> {{ this.totalInteractions }}
            </div>
            <div class="col-10 d-flex justify-content-end">
              <a class="btn btn-primary" href="/dashboard/incident/{{this.id}}?origin=incidents">Acessar incidente</a>
            </div>
          </div>
          <br>
        </div>
        <br>
      {{/each}}
      <br>
    {{else}}
      <br>
      <div class="row mx-5 d-flex">
        <div class="col-3 justify-content-center">
          <h5>Nenhum incidente encontrado</h5>
        </div>
      </div>
    {{/if}}
  </div>
</body>