<body id="body-pd">
  {{>header}}
  <div class="container-fluid">
    <br>
    <br>
    <div class="row mx-4">
      <div class="col-8">
        <h1>Incidentes</h1>
      </div>
    </div>
    <br>
    <br>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav_link {{ set_active_tab "aberto" activeTab}}" href="/dashboard/incident?status=aberto">Abertos</a>
            </li>
            <li class="nav-item">
              <a class="nav_link {{ set_active_tab "pendente" activeTab}}" href="/dashboard/incident?status=pendente">Em atendimento</a>
            </li>
            <li class="nav-item">
              <a class="nav_link {{ set_active_tab "fechado" activeTab}}" href="/dashboard/incident?status=fechado">Finalizados</a>
            </li>
            <li class="nav-item">
              <a class="nav_link {{ set_active_tab "" activeTab}}" href="/dashboard/incident">Todos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    {{#if showContent }}
      {{#each incidents}}
        <div class="card">
          <h5 class="card-header bg-primary text-white">{{this.userName}} - {{format_incident_date this.startDate}}</h5>
          <div class="card-body">
            <p><span class="badge bg-{{label_status_incident this.status}}">{{text_status_incident this.status }}</span></p>
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p><i class='bx bx-message nav_icon'></i> {{ this.totalInteractions }}</p>
            <a href="/dashboard/incident/{{this.id}}?origin=incidents" class="btn btn-primary">Acessar incidente</a>
          </div>
        </div>
        <br>
      {{/each}}
      <br>
    {{else}}
      <br>
      <div class="row mx-5 d-flex justify-content-center">
        <div class="col-3 d-flex justify-content-center">
          <h5>Nenhum incidente encontrado</h5>
        </div>
      </div>
    {{/if}}
  </div>
</body>