<body id="body-pd">
  {{>header}}
  <a class="btn btn-primary btn-lg" href="{{ backUrl }}" role="button">Voltar</a>
  <br>
  <br>
  <br>
  <div class="row g-3">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-1">
      <h3><span class="badge border border-secondary rounded-pill text-secondary">#{{ incident.id }}</span></h3>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <h1> {{ incident.title }} </h1>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-1">
      <h3><span class="badge bg-{{label_status_incident incident.status}} rounded-pill">{{text_status_incident incident.status }}</span></h3>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-1">
      <h3><span class="badge bg-{{label_status_priority incident.priority}} rounded-pill">{{text_status_priority incident.priority }}</span></h3>
    </div>
  </div>
  <br>
  <div class="row g-3">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-12">
      <h3> {{ incident.description }} </h3>
    </div>
  </div>
  <br>
  <div class="row g-3">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-8 mx-2">
      <div class="row bg-white border border-white rounded">
        {{#if showContent }}
          {{#each incidentInteractions}}
            <div class="d-flex flex-row {{{align_interaction ../user.id ../user.role this.userId this.origin}}}">
              <div>
                <br>
                <p class="small p-2 ms-3 mb-1 rounded-3 text-white {{{set_interaction_color ../user.id ../user.role this.userId this.origin}}}">{{ this.description }}</p>
                <p class="small ms-3 mb-3 rounded-3 text-muted">{{ this.userName }}  - {{format_incident_date this.sentDate }}</p>
              </div>
            </div>
          {{/each}}
        {{else}}
          <div class="py-5 mx-3 text-justify">
            <h5>Incidente não possui mensagens.</h5>
          </div>
        {{/if}}
      </div>
      <br>
      {{#if showButtonNewMessage }}
        <div class="row bg-white border border-white rounded">
          <form method="POST" action="/dashboard/incident/interaction?origin={{ origin }}" class="needs-validation" novalidate="" autocomplete="off">
            <input type="hidden" id="incidentId" name="incidentId" value="{{incident.id}}">
            <br>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-12">
              <textarea type="text" rows="3" class="form-control" id="description" name="description" minlength="1"></textarea>
            </div>
            <br>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-12 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary btn-lg" role="button">Nova mensagem</button>
            </div>
            <br>
          </form>    
        </div>
      {{/if}}
      
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2  mx-2 border rounded bg-white">
      <br>
      <div class="row g-3 mx-1">
        <h4>Dados</h4>
      </div>
      <br>
      <div class="row g-3 bg-white">
        <div class="row mx-1">
          <label for="title" class="form-label">Data de abertura</label>
          <input type="text" readonly class="form-control" id="startDate" value="{{format_datetime incident.startDate }}">
        </div>
        <br>
        <div class="row mx-1">
          <label for="title" class="form-label">Data de fechamento</label>
          <input type="text" readonly class="form-control" id="endDate" value="{{format_datetime incident.endDate }}">
        </div>
        <br>
        <div class="row mx-1">
          <label for="incidentTypeName" class="form-label">Tipo de incidente</label>
          <input type="text" readonly class="form-control" id="incidentTypeName" value="{{ incident.incidentTypeName }}">
        </div>
        <br>
        <div class="row mx-1">
          <label for="locationName" class="form-label">Local</label>
          <input type="text" readonly class="form-control" id="locationName" value="{{ incident.locationName }}">
        </div>
        <br>
        <div class="row mx-1">
          <label for="itemName" class="form-label">Item</label>
          <input type="text" readonly class="form-control" id="itemName" value="{{ incident.itemName }}">
        </div>
        <hr class="my-4">
        <div class="row mx-1">
          <h5>Usuário</h5>
        </div>
        <div class="row mx-1">
          <h6>{{ incident.userName }}</h6>
        </div>
        <br>
        <div class="row mx-1">
          <h5>Responsável</h5>
        </div>
        <div class="row mx-1">
          <h6>{{ incident.adminName }}</h6>
        </div>
        <br>
      </div>
    </div>
    
  </div>
</body>