<body id="body-pd">
  {{>header}}
  <a class="btn btn-primary btn-lg" href="{{ backUrl }}" role="button">Voltar</a>
  <br>
  <br>
  <div class="container-fluid border rounded bg-white">
    <div class="py-5 mx-3 text-justify">
      <h3>Incidente #{{ incident.id }}</h3>
    </div>
    <div class="row g-5">
      <div class="col-md-12 col-lg-10">
        <div class="row g-3">
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <label for="title" class="form-label">Título</label>
            <input type="text" readonly class="form-control" id="title" placeholder="Ex: Projetor danificado" name="title" value="{{ incident.title }}">
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <label for="title" class="form-label">Data de abertura</label>
            <input type="text" readonly class="form-control" id="startDate" value="{{format_datetime incident.startDate }}">
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <label for="title" class="form-label">Data de fechamento</label>
            <input type="text" readonly class="form-control" id="endDate" value="{{format_datetime incident.endDate }}">
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <label for="title" class="form-label">Status</label>
            <h5><span class="badge rounded-pill bg-{{label_status_incident incident.status}}">{{text_status_incident incident.status }}</span></h5>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <label for="title" class="form-label">Usuário</label>
            <input type="text" readonly class="form-control" id="userName" value="{{ incident.userName }}">
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <label for="title" class="form-label">Administrador</label>
            <input type="text" readonly class="form-control" id="adminName" value="{{ incident.adminName }}">
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <label for="incidentTypeName" class="form-label">Tipo de incidente</label>
            <input type="text" readonly class="form-control" id="incidentTypeName" value="{{ incident.incidentTypeName }}">
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <label for="locationName" class="form-label">Local</label>
            <input type="text" readonly class="form-control" id="locationName" value="{{ incident.locationName }}">
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <label for="itemName" class="form-label">Item</label>
            <input type="text" readonly class="form-control" id="itemName" value="{{ incident.itemName }}">
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label for="description" class="form-label">Descrição</label>
            <textarea type="text" readonly rows="5" class="form-control" id="description" name="description" placeholder="Detalhes do incidente">{{ incident.description }}</textarea>
          </div>
        </div>
        <br>
        <br>
        <div class="row g-3 d-flex justify-content-center">
          {{#if showButtonAssign }}
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
              <a class="btn btn-primary" href="/dashboard/incident/assign/{{ incident.id }}?origin={{ origin }}" role="button">Atender incidente</a>
            </div>
          {{/if}}
          {{#if showButtonClose }}
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
              <a class="btn btn-danger" href="/dashboard/incident/close/{{ incident.id }}?origin={{ origin }}" role="button">Finalizar incidente</a>
            </div>
          {{/if}}
        </div>
      </div>
      {{#if (show_pending_user_review user.id incident.userId incident.endDate incident.rating)}}

        <div class="row g-5 mx-5 d-flex justify-content-start">
          <div class="card p-3">
              <div class="d-flex justify-content-between align-items-center">
                  <div class="ratings">
                      <a href="/dashboard/incident/set-rating/1/incident/{{ incident.id }}"><i class="bx bx-star"></i></a>
                      <a href="/dashboard/incident/set-rating/2/incident/{{ incident.id }}"><i class="bx bx-star"></i></a>
                      <a href="/dashboard/incident/set-rating/3/incident/{{ incident.id }}"><i class="bx bx-star"></i></a>
                  </div>
                  <h5 class="review-count">12 Reviews</h5>
              </div>
          </div>
        </div>
      {{else}}
        <div class="row g-5 mx-5 d-flex justify-content-start">
          <div class="card p-3">
              <div class="d-flex justify-content-between align-items-center">
                  <div class="ratings">
                      <i class="bx bx-start{{set_rating_class incident.rating "1"}}"></i>
                      <i class="{{set_rating_class incident.rating "2"}}"></i>
                      <i class="{{set_rating_class incident.rating "3"}}"></i>
                  </div>
              </div>
          </div>
        </div>
      {{/if}}
      <div class="col-md-12 col-lg-10">
        <hr class="my-4">
      </div>
      <br>
      {{#if showButtonNewMessage }}
        <div id="buttonNewMessage" class="d-block">
          <div class="row g-3 mx-4 d-flex justify-content-start">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
              <a class="btn btn-success" id="showFormNewMessage">Nova mensagem</a>
            </div>  
          </div>  
        </div>
        <div id="formNewMessage" class="d-none">
          <div class="row g-5">
            <div class="col-md-12 col-lg-10">
              <form method="POST" action="/dashboard/incident/interaction?origin={{ origin }}" class="needs-validation" novalidate="" autocomplete="off">
              <input type="hidden" id="incidentId" name="incidentId" value="{{incident.id}}">
                <div class="col-12 mx-1">
                  <label for="description" class="form-label">Nova mensagem</label>
                  <textarea type="text" rows="3" class="form-control" id="description" name="description" placeholder="Detalhes do incidente"></textarea>
                </div>
                <br>
                <div class="row g-3 d-flex justify-content-center">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <button type="submit" class="btn btn-success">Enviar mensagem</a>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <a class="btn btn-danger" id="hideFormNewMessage">Cancelar</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      {{/if}}
      {{#if showContent }}
        <section class="py-5">
          <ul class="timeline">
            {{#each incidentInteractions}}
            <li class="timeline-item mb-5">
              <h5 class="fw-bold {{format_interaction_color this.origin }}">{{ this.userName }}</h5>
              <p class="text-muted mb-2 fw-bold">{{format_incident_date this.sentDate }}</p>
              <p class="text-muted">
                {{ this.description }}
              </p>
            </li>
            {{/each}}
          </ul>
        </section>
      {{else}}
        <div class="py-5 mx-3 text-justify">
          <h5>Incidente não possui mensagens.</h5>
        </div>
      {{/if}}
      <br>
    </div>
  </div>
</body>