<body>
  {{>header}}

  <div class="container-fluid">
    <br>
    <div class="col-2 d-flex">
      <a class="btn btn-primary btn-lg" href="/dashboard/incident" role="button">Voltar</a>
    </div>
    <br>
    <div class="border bg-light">
      <br>
      <div class="row ms-3">
        <h3>Incidente #{{ incident.id }}</h3>
      </div>
      <hr class="bg-dark border-1 border-top border-dark mx-5">
      <br>
      <br>
      <div class="row mx-3">
        <label for="id" class="col-sm-2 col-form-label d-flex justify-content-end">ID: </label>
        <div class="col-sm-4">
          <input type="text" readonly class="form-control" id="id" value="{{ incident.id }}">
        </div>
      </div>
      <br>
      <div class="row mx-3">
        <label for="status" class="col-sm-2 col-form-label d-flex justify-content-end">Status: </label>
        <div class="col-sm-4">
          <h5><span class="badge rounded-pill bg-{{label_status_incident incident.status}}">{{text_status_incident incident.status }}</span></h5>
        </div>
      </div>
      <br>
      <div class="row mx-3">
        <label for="title" class="col-sm-2 col-form-label d-flex justify-content-end">Título: </label>
        <div class="col-sm-4">
          <input type="text" readonly class="form-control" id="title" value="{{ incident.title }}">
        </div>
      </div>
      <br>
      <div class="row mx-3">
        <label for="description" class="col-sm-2 col-form-label d-flex justify-content-end">Descrição: </label>
        <div class="col-sm-4">
          <input type="text" readonly class="form-control" id="description" value="{{ incident.description }}">
        </div>
      </div>
      <br>
      <div class="row mx-3">
        <label for="startDate" class="col-sm-2 col-form-label d-flex justify-content-end">Data de abertura: </label>
        <div class="col-sm-4">
          <input type="text" readonly class="form-control" id="startDate" value="{{format_datetime incident.startDate }}">
        </div>
      </div>
      <br>
      <div class="row mx-3">
        <label for="endDate" class="col-sm-2 col-form-label d-flex justify-content-end">Data de fechamento: </label>
        <div class="col-sm-4">
          <input type="text" readonly class="form-control" id="endDate" value="{{format_datetime incident.endDate }}">
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row mx-3 d-flex justify-content-center">
        {{#if showButtonAssign }}
          <div class="col-2">
            <a class="btn btn-success" href="/dashboard/incident/assign/{{ incident.id }}" role="button">Atender incidente</a>
          </div>   
        {{/if}}
        {{#if showButtonClose }}
          <div class="col-2">
            <a class="btn btn-danger" href="/dashboard/incident/close/{{ incident.id }}" role="button">Finalizar incidente</a>
          </div> 
        {{/if}}
      </div>
      <br>
      <hr class="bg-dark border-1 border-top border-dark mx-5">
      <br>
      <div class="row ms-3">
        <h4>Mensagens</h4>
      </div>
      <br>
      {{#if showContent }}
        {{#if showButtonNewMessage }}
          <div id="buttonNewMessage" class="d-block">
            <div class="row mx-5 d-flex justify-content-center">
              <div class="col-3 d-flex justify-content-center">
                <a class="btn btn-success" id="showFormNewMessage">Nova mensagem</a>
              </div>
            </div>
          </div>
          <div id="formNewMessage" class="d-none">
            <div class="col mx-5 d-flex justify-content-center">
              <label for="description" class="d-flex justify-content-center">Nova mensagem: </label>
            </div>
            <form method="POST" action="/dashboard/incident/interaction" class="needs-validation" novalidate="" autocomplete="off">
              <input type="hidden" id="incidentId" name="incidentId" value="{{incident.id}}">
              <div class="row mx-5 d-flex justify-content-center">
                <div class="col-8 mx-2">
                    <textarea type="text" rows="3" class="form-control" id="description" name="description"></textarea>
                  <br>
                </div>
                <div class="col-4 mx-5">
                  <div class="row mx-6">
                    <button type="submit" class="btn btn-success">Enviar mensagem</a>
                  </div>
                  <br>
                  <div class="row mx-6">
                    <a class="btn btn-danger" id="hideFormNewMessage">Cancelar</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        {{/if}}
        
        <section>
          <div class="container py-5">
            <div class="main-timeline">
              {{#each incidentInteractions}}
                {{#if admin }}
                  <div class="timeline {{set_interaction_side this "admin"}}">
                    <div class="card">
                      <div class="card-body p-4">
                        <h5>{{format_interaction_date this.sentDate }}</h5>
                        <p class="mb-0">{{ this.description }}</p>
                      </div>
                    </div>
                  </div>
                {{else}}
                  <div class="timeline {{set_interaction_side this "admin"}}">
                    <div class="card">
                      <div class="card-body p-4">
                        <h5>{{format_interaction_date this.sentDate }}</h5>
                        <br>
                        <p class="mb-0">{{ this.description }}</p>
                        <br>
                        <p class="mb-0">Usuário: </p>
                      </div>
                    </div>
                  </div>
                {{/if}}
              {{/each}}
            </div>
          </div>
        </section>
      {{else}}
        <div class="row mx-5 d-flex justify-content-center">
          <div class="col-3 d-flex justify-content-center">
            <h5>Incidente não possui mensagens.</h5>
          </div>
        </div>
        <br>
        {{#if showButtonNewMessage }}
          <div id="buttonNewMessage" class="d-block">
            <div class="row mx-5 d-flex justify-content-center">
              <div class="col-3 d-flex justify-content-center">
                <a class="btn btn-success" id="showFormNewMessage">Nova mensagem</a>
              </div>
            </div>
          </div>
          <div id="formNewMessage" class="d-none">
            <div class="col mx-5 d-flex justify-content-center">
              <label for="description" class="d-flex justify-content-center">Nova mensagem: </label>
            </div>
            <form method="POST" action="/dashboard/incident/interaction" class="needs-validation" novalidate="" autocomplete="off">
              <input type="hidden" id="incidentId" name="incidentId" value="{{incident.id}}">
              <div class="row mx-5 d-flex justify-content-center">
                <div class="col-8 mx-2">
                    <textarea type="text" rows="3" class="form-control" id="description" name="description"></textarea>
                  <br>
                </div>
                <div class="col-4 mx-5">
                  <div class="row mx-6">
                    <button type="submit" class="btn btn-success">Enviar mensagem</a>
                  </div>
                  <br>
                  <div class="row mx-6">
                    <a class="btn btn-danger" id="hideFormNewMessage">Cancelar</a>
                  </div>
                </div>
              </div>
            </form>
          </div>

        {{/if}}
        
      {{/if}}
      
      <br>
      <br>
    </div>
    <br>
  </div>
</body>