<body id="body-pd">
  {{>header}}
  <a class="btn btn-primary btn-lg" href="{{ backUrl }}" role="button">Voltar</a>
  <br>
  <br>
  <br>
  <div class="row g-3">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-1">
      <h3><span class="badge border border-secondary rounded-pill text-secondary">#{{ incident.id }}</span></h3>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <h1> {{ incident.title }} </h1>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-1 mx-5">
      <h3><span class="badge bg-{{label_status_incident incident.status}} rounded-pill">{{text_status_incident incident.status }}</span></h3>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-1 mx-5">
      <h3><span class="badge bg-{{label_status_priority incident.priority}} rounded-pill">{{text_status_priority incident.priority }}</span></h3>
    </div>
  </div>
  <br>
  <div class="row g-3">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-8 mx-2">
      <div class="row bg-white border border-white rounded">
        <br>
        <div class="row mx-1">
          <h6>Descrição</h6>
        </div>
        <div class="row mx-1">
          <h3>{{ incident.description }}</h3>
        </div>
        <br>
        <div class="row mx-1">
          <h6>Data de abertura</h6>
        </div>
        <div class="row mx-1">
          <h3>{{format_datetime incident.startDate }}</h3>
        </div>
        <br>
        <div class="row mx-1">
          <h6>Data de fechamento</h6>
        </div>
        <div class="row mx-1">
          <h3>{{format_datetime incident.endDate }}</h3>
        </div>
        <br>
        <div class="row mx-1">
          <h6>Imagem</h6>
        </div>
        <div class="row mx-1">
          {{#if (show_incident_image incident.fileMetadataId)}}
            <img src="/file/{{ incident.fileMetadataId }}" class="img-fluid" width="400" height="150" alt="Imagem do incidente">
          {{else}}
          <h3>-</h3>
          {{/if}}
          
        </div>
        <br>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2  mx-2 border rounded bg-white">
      <br>
      {{#if showButtonAssign }}
        <a class="btn btn-primary mx-5" href="/dashboard/incident/assign/{{ incident.id }}?origin={{ origin }}" role="button">Atender incidente</a>
        <hr class="my-4">
        <br>
      {{/if}}
      {{#if showButtonClose }}
        <a class="btn btn-danger mx-5" href="/dashboard/incident/close/{{ incident.id }}?origin={{ origin }}" role="button">Finalizar incidente</a>
        <hr class="my-4">
        <br>
      {{/if}}
      <br>
      <div class="row g-3 bg-white">
        <div class="row mx-1">
          <h5>Tipo de incidente</h5>
        </div>
        <div class="row mx-1">
          <h6>{{ incident.incidentTypeName }}</h6>
        </div>
        <br>
        <div class="row mx-1">
          <h5>Local</h5>
        </div>
        <div class="row mx-1">
          <h6>{{ incident.locationName }}</h6>
        </div>
        <br>
        <div class="row mx-1">
          <h5>Item</h5>
        </div>
        <div class="row mx-1">
          <h6>{{ incident.itemName }}</h6>
        </div>
        <br>
        <hr class="my-4">
        <div class="row mx-1">
          <h5>Usuário</h5>
        </div>
        <div class="row mx-1">
          <h6>{{ incident.userName }}</h6>
        </div>
        <br>
        <div class="row mx-1">
          <h5>Responsável</h5>
        </div>
        <div class="row mx-1">
          <h6>{{ incident.adminName }}</h6>
        </div>
        <br>
      </div>
    </div>
  </div>
  <br>
  <div class="row g-3">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-10 mx-2 border bg-white border-white rounded">
      <br>
      <h3>Mensagens</h3>
      <hr class="my-4">
      <div class="row bg-light">
        {{#if showContent }}
          {{#each incidentInteractions}}
            <div class="d-flex flex-row {{{align_interaction ../user.id ../user.role this.userId this.origin}}}">
              <div>
                <br>
                <p class="small p-2 ms-3 mb-1 rounded-3 text-white {{{set_interaction_color ../user.id ../user.role this.userId this.origin}}}">{{ this.description }}</p>
                <p class="small ms-3 mb-3 rounded-3 text-muted">{{ this.userName }}  - {{format_incident_date this.sentDate }}</p>
              </div>
            </div>
          {{/each}}
        {{/if}}
      </div>
      {{#if showButtonNewMessage }}
        <div class="row">
          <form method="POST" action="/dashboard/incident/interaction?origin={{ origin }}" class="needs-validation" novalidate="" autocomplete="off">
            <input type="hidden" id="incidentId" name="incidentId" value="{{incident.id}}">
            <br>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-12">
              <textarea type="text" rows="3" class="form-control" id="description" name="description" minlength="1"></textarea>
            </div>
            <br>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-12 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary btn-lg" role="button">Nova mensagem</button>
            </div>
            <br>
          </form>    
        </div>
      {{/if}}
      <br>
    </div>
  </div>
</body>