<body id="body-pd">
  {{>header}}
  <a class="btn btn-primary-light-color btn-lg" href="/dashboard/location" role="button">Voltar</a>
  <div class="container">
  <main>
    <div class="py-5 text-justify">
      <h2>Local</h2>
      <br>
      <p class="lead">Local onde ocorreu o incidente, como `Sept` ou `Sala A129`.</p>
    </div>
    {{#if showError }}
      {{#each errors}}
        <div class="row mx-3">
          <div class="col-sm-4">
            <p class="text-danger">ERRO: {{this}}</p>
          </div>
        </div>
      {{/each}}
    {{/if}}
    <div class="row g-5">
      <div class="col-md-12 col-lg-10">
        <h4 class="mb-3">Dados</h4>
        <form method="POST" action="{{ uri }}" class="needs-validation" novalidate="" autocomplete="off">
          <input type="hidden" id="id" name="id" value="{{location.id}}">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ location.name }}" placeholder="Ex: SEPT">
            </div>

            <div class="col-sm-6">
              <label for="description" class="form-label">Descrição</label>
              <input type="text" class="form-control" id="description" name="description" value="{{ location.description }}" placeholder="Ex: Setor educação professional e tecnológica">
            </div>
          </div>
          <hr class="my-4">

          <button class="w-100 btn btn-primary-light-color btn-lg" type="submit">Salvar</button>
        </form>
      </div>
    </div>
  </main>
  <br>
  <br>
</body>