<body id="body-pd">
  {{>header}}
  <div class="container-fluid">
    <br>
    <br>
    <div class="row g-5">
      <div class="col-12 col-sm-12 col-md-6 col-lg-8">
        <h1>Locais</h1>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <a class="btn btn-primary-light-color btn-lg" href="/dashboard/location/create" role="button">Novo local</a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div id="searchForm" class="{{ classSearchForm }}">
      <div class="row g-5">
        <div class="col-md-12 col-lg-10">
          <a href="{{ uri }}" class="btn btn-danger border border-3">Cancelar pesquisa</a>
          <br>
          <br>
          <form method="POST" action="/dashboard/location/search" class="needs-validation" novalidate="" autocomplete="off">
            <div class="row g-3">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <label for="locationId" class="form-label">ID</label>
                <input type="text" class="form-control" id="locationId" name="locationId" placeholder="Ex: 1234" value="{{ content.locationId }}">
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <label for="locationName" class="form-label">Nome</label>
                <input type="text" class="form-control" id="locationName" name="locationName" placeholder="Ex: SEPT" value="{{ content.locationName }}">
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <label for="locationDescription" class="form-label">Descrição</label>
                <input type="text" class="form-control" id="locationDescription" name="locationDescription" placeholder="Ex: Setor educação professional e tecnológica" value="{{ content.locationDescription }}">
              </div>
            </div>
            <br>
            <button type="submit" class="btn border border-3">Pesquisar <i class='bx bx-search nav_icon'></i></button>
          </form>
          <br>
        </div>
      </div>
    </div>
    <div id="searchButton" class="{{ classSearchButton }}">
      <button id="showSearchFormButton" class="btn border border-3">Pesquisar <i class='bx bx-search nav_icon'></i></button>
    </div>
    <br>
    <br>
    {{#if showContent }}
      {{#each locations}}
        <div class="card">
          <h5 class="card-header bg-primary-color text-white">#{{this.id}} - {{this.name}}</h5>
          <div class="card-body">
            <h4 class="card-title">{{this.name}}</h4>
            <br>
            <h5 class="card-text">{{this.description}}</h5>
            <br>
            <a href="/dashboard/location/{{this.id}}" class="btn btn-primary-light-color">Editar</a>
            <a href="/dashboard/location/delete/{{this.id}}" onclick="return confirm('Tem certeza que deseja excluir esse registro?')" class="btn btn-danger">Excluir</a>
          </div>
        </div>
        <br>
      {{/each}}
      <br>
      <div class="row g-3">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
          <p>Total de resultados: {{ pagination.total }}</p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
          <select class="form-select" name="limit" id="registers-per-page">
            {{#select content.maxPerPage}}
              <option disabled selected value>Registros por página</option>
              <option data-url="{{ incidents_registers_per_page_url "1" uri content }}" value="1">1 registro por página</option>
              <option data-url="{{ incidents_registers_per_page_url "2" uri content }}" value="2">2 registros por página</option>
              <option data-url="{{ incidents_registers_per_page_url "3" uri content }}" value="3">3 registros por página</option>
              <option data-url="{{ incidents_registers_per_page_url "4" uri content }}" value="4">4 registros por página</option>
              <option data-url="{{ incidents_registers_per_page_url "5" uri content }}" value="5">5 registros por página</option>
              <option data-url="{{ incidents_registers_per_page_url "10" uri content }}" value="10">10 registros por página</option>
            {{/select}}
          </select>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-1">
          <nav aria-label="Páginas">
            <ul class="pagination">
              <li class="page-item {{is_pagination_button_enabled pagination.previousPage}}">
                <a class="page-link" href="{{ pagination.previousPage.pageUrl }}" aria-label="Anterior">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {{#each pagination.pages}}
                <li class="page-item mx-1 rounded-circle {{ this.active }}">
                  <a class="page-link" href="{{ this.pageUrl }}">{{ this.pageNumber }}</a>
                </li>
              {{/each}}
              <li class="page-item {{is_pagination_button_enabled pagination.nextPage}}">
                <a class="page-link" href="{{ pagination.nextPage.pageUrl }}" aria-label="Próximo">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <br>
    {{else}}
      <br>
      <div class="row mx-5 d-flex justify-content-center">
        <div class="col-3 d-flex justify-content-center">
          <h5>Nenhum usuário encontrado</h5>
        </div>
      </div>
    {{/if}}
  </div>
</body>