<body id="body-pd">
  {{>header}}
  <div class="container-fluid">
    <br>
    <br>
    <div class="row ms-3">
      <div class="col-10">
        <h1>Locais</h1>
      </div>
      <div class="col-2">
        <a class="btn btn-success" href="/dashboard/location/create" role="button">Novo local</a>
      </div>
    </div>
    <hr class="bg-dark border-1 border-top border-dark">
    <br>
    <br>
    <form method="POST" action="/dashboard/markets/find-markets?limit={{ limit }}" class="needs-validation" novalidate="" autocomplete="off">
      <div class="row mx-3">
        <div class="col-4">
          <label for="name" class="form-label">Nome</label>
          <input type="text" name="name" id="name" value="{{ name }}" class="form-control">
        </div>
        <div class="col-2">
          <label for="inputId" class="form-label">ID</label>
          <input type="text" name="id" id="id" value="{{ id }}" class="form-control">
        </div>
      </div>
      <br>
      <div class="row mx-3">
        <div class="col-2">
          <button type="submit" class="btn btn-primary ms-auto">
              Pesquisar
          </button>
        </div>
      </div>
    </form>
    <br>
    <hr class="bg-dark border-1 border-top border-dark">
    <br>
    <div class="mx-5 d-flex flex-row-reverse">
      {{#if pagination.paginationEnabled}}
        <div class="p-2">
          <nav aria-label="Páginas">
            <ul class="pagination">
              {{#each pagination.pages}}
                <li class="page-item">
                  <a class="page-link" href="/dashboard/markets?limit={{limit}}&skip={{skip}}">{{num}}</a>
                </li>
              {{/each}}
            </ul>
          </nav>
        </div>
      {{/if}}
      <div class="p-2">
        <a class="btn btn-secondary" href="/dashboard/location">Limpar filtros</a>
      </div>
      <div class="p-2">
        <select class="form-select" name="limit" id="registers-per-page">
          {{#select limit}}
            <option disabled selected value>Registros por página</option>
            <option data-url="object?limit=1" value="1">1 registro</option>
            <option data-url="object?limit=10" value="10">10 registros</option>
            <option data-url="object?limit=25" value="25">25 registros</option>
            <option data-url="object?limit=50" value="50">50 registros</option>
            <option data-url="object?limit=100" value="100">100 registros</option>
          {{/select}}
        </select>
      </div>
      <div class="p-2 d-flex align-items-center">
        <label class="form-label">Mostrar</label>
      </div>
    </div>
    <br>
    {{#if showContent }}
      <div class="row mx-5">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each locations}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td><a class="btn btn-success" href="/dashboard/location/{{this.id}}">Visualizar</a></td>
                    <td><a href="/dashboard/location/delete/{{this.id}}" onclick="return confirm('Tem certeza que deseja excluir esse registro?')" class="btn btn-danger">Remover</a></td>
                </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{else}}
      <div class="row mx-5 d-flex justify-content-center">
        <div class="col-3 justify-content-center">
          <h4>Nenhum local cadastrado</h4>
        </div>
      </div>
    {{/if}}
  </div>
</body>