<body id="body-pd">
  {{>header}}
  <a class="btn btn-primary-light-color btn-lg" href="/dashboard/item" role="button">Voltar</a>
  <div class="container">
  <main>
    <div class="py-5 text-justify">
      <h2>Item</h2>
      <br>
      <p class="lead">Item ou objeto do incidente, como `Projetor` ou `Janela`.</p>
    </div>
    {{#if showError }}
      {{#each errors}}
        <div class="row mx-3">
          <div class="col-sm-4">
            <p class="text-danger">ERRO: {{this}}</p>
          </div>
        </div>
      {{/each}}
    {{/if}}
    <div class="row g-5">
      <div class="col-md-12 col-lg-10">
        <h4 class="mb-3">Dados</h4>
        <form method="POST" action="{{ uri }}" class="needs-validation" novalidate="" autocomplete="off">
          <input type="hidden" id="id" name="id" value="{{item.id}}">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ item.name }}" placeholder="Ex: Projetor">
            </div>

            <div class="col-sm-6">
              <label for="description" class="form-label">Descrição</label>
              <input type="text" class="form-control" id="description" name="description" value="{{ item.description }}" placeholder="Ex: Projetor amarelo - Sala A12">
            </div>
          </div>

          <div class="col-md-12">
            <label for="locationId" class="form-label">Local</label>
            <select class="form-select form-control" id="locationId" name="locationId">
              {{#select item.locationId}}
                <option value="0">Selecionar...</option>
                {{#each locations}}
                  <option value="{{ this.id }}">{{ this.name }}</option>
                {{/each}}
              {{/select}}
            </select>
          </div>
          <hr class="my-4">

          <button class="w-100 btn btn-primary-light-color btn-lg" type="submit">Salvar</button>
        </form>
      </div>
    </div>
  </main>
  <br>
  <br>
</body>