<body id="body-pd">
    {{>header}}

    <div class="container-fluid">
      <br>
      <br>
      <div class="row mx-5">
        <div class="col-4 d-flex justify-content-center">
          <h1>ArrumaUFPR</h1>
        </div>
      </div>
      <br>
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Incidentes</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="card text-dark bg-white mb-3">
              <div class="card-header bg-primary-color text-white">Incidentes abertos</div>
              <div class="card-body">
                <h5 class="card-title">{{ homePage.totalOpenIncidents }}</h5>
                <p class="card-text">Total de incidentes abertos</p>
              </div>
            </div>
          </div>
          <div class="feature col">
            <div class="card text-dark bg-white mb-3">
              <div class="card-header bg-primary-color text-white">Incidentes em atendimento</div>
              <div class="card-body">
                <h5 class="card-title">{{ homePage.totalPendingIncidents }}</h5>
                <p class="card-text">Total de incidentes em atendimento</p>
              </div>
            </div>
          </div>
          <div class="feature col">
            <div class="card text-dark bg-white mb-3">
              <div class="card-header bg-primary-color text-white">Incidentes finalizados</div>
              <div class="card-body">
                <h5 class="card-title">{{ homePage.totalClosedIncidents }}</h5>
                <p class="card-text">Total de incidentes finalizados</p>
              </div>
            </div>
          </div>
          <div class="feature col">
            <div class="card text-dark bg-white mb-3">
              <div class="card-header bg-primary-color text-white">Incidentes</div>
              <div class="card-body">
                <h5 class="card-title">{{ homePage.totalIncidents }}</h5>
                <p class="card-text">Total de incidentes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      {{#if (is_admin user.role)}}
        <div class="container px-4 py-5" id="featured-3">
          <h2 class="pb-2 border-bottom">Geral</h2>
          <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
              <div class="card text-dark bg-white mb-3">
                  <div class="card-header bg-primary-color text-white">Tipos de incidente</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ homePage.totalIncidentTypes }}</h5>
                        <p class="card-text">Total de tipos de incidente</p>
                    </div>
                </div>
            </div>
            <div class="feature col">
              <div class="card text-dark bg-white mb-3">
                  <div class="card-header bg-primary-color text-white">Locais</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ homePage.totalLocations }}</h5>
                        <p class="card-text">Total de locais cadastrados</p>
                    </div>
                </div>
            </div>
            <div class="feature col">
              <div class="card text-dark bg-white mb-3">
                  <div class="card-header bg-primary-color text-white">Itens</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ homePage.totalItems }}</h5>
                        <p class="card-text">Total itens cadastrados</p>
                    </div>
                </div>
            </div>
            <div class="feature col">
              <div class="card text-dark bg-white mb-3">
                    <div class="card-header bg-primary-color text-white">Usuários</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ homePage.totalUsers }}</h5>
                        <p class="card-text">Total de usuários cadastrados</p>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <br>
      </div>
      
      {{/if}}
</body>