<div class="header">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="d-flex justify-content-right">
          <p class="text-primary">{{ user.name }} - 
          {{#if (is_admin user.role)}}
            Administrador
          {{else}}
            Usuário
          {{/if}}
          </p>
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="/dashboard" class="nav_logo"> <i class='bx bx-wrench nav_logo-icon'></i> <span class="nav_logo-name {{ headerActive.home }}">ArrumaUFPR</span> </a>
                <div class="nav_list">
                    {{#if headerPermissions.showMenuIncidents}}
                      <a href="/dashboard/incident" class="nav_link {{ headerActive.incident }}"><i class='bx bx-error-alt nav_icon'></i> <span class="nav_name">Incidentes</span> </a>
                    {{/if}}
                    {{#if headerPermissions.showMenuUserIncidents}}
                      <a href="/dashboard/incident/user" class="nav_link {{ headerActive.userIncident }}"> <i class='bx bx-error-alt nav_icon'></i> <span class="nav_name">Meus incidentes</span> </a>
                    {{/if}}
                    {{#if headerPermissions.showMenuIncidentTypes}}
                      <a href="/dashboard/incident-type" class="nav_link {{ headerActive.incidentType }}"> <i class='bx bx-category nav_icon'></i> <span class="nav_name">Tipos de Incidente</span> </a>
                    {{/if}}
                    {{#if headerPermissions.showMenuLocations}}
                      <a href="/dashboard/location" class="nav_link {{ headerActive.location }}"> <i class='bx bx-buildings nav_icon'></i> <span class="nav_name">Locais</span> </a>
                    {{/if}}
                    {{#if headerPermissions.showMenuItems}}
                      <a href="/dashboard/item" class="nav_link {{ headerActive.item }}"> <i class='bx bx-package nav_icon'></i> <span class="nav_name">Itens</span> </a>
                    {{/if}}
                    {{#if headerPermissions.showMenuUsers}}
                      <a href="/dashboard/user" class="nav_link {{ headerActive.user }}"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Usuários</span> </a>
                    {{/if}}
                    <a href="/dashboard/user/change-password" class="nav_link {{ headerActive.userChangePassword }}"> <i class='bx bx-cog nav_icon'></i> <span class="nav_name">Troca de senha</span> </a>
                    <a href="/dashboard/logout" class="nav_link"> <i class='bx bx-log-out-circle nav_icon'></i> <span class="nav_name">Sair</span> </a>
                </div>
            </div>
        </nav>
    </div>
</div>