<body id="body-pd">
  {{>header}}
  <a class="btn btn-primary-light-color btn-lg" href="{{ backUrl }}" role="button">Voltar</a>
  <div class="container">
  <main>
    <div class="py-5 text-justify">
      <h2>{{ title }}</h2>
      <br>
      <p class="lead">{{ description }}</p>
    </div>
    {{#if showError }}
      {{#each errors}}
        <div class="row mx-3">
          <div class="col-sm-4">
            <p class="text-danger">ERRO: {{this}}</p>
          </div>
        </div>
      {{/each}}
    {{/if}}
    <div class="row g-5">
      <div class="col-md-12 col-lg-10">
        <h4 class="mb-3">Dados</h4>
        <form method="POST" action="{{ uri }}" class="needs-validation" novalidate="" autocomplete="off">
          <input type="hidden" id="id" name="id" value="{{userForm.id}}">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ userForm.name }}" placeholder="Ex: João Silva">
            </div>

            <div class="col-sm-6">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" {{ emailVisibility }} id="email" name="email" value="{{ userForm.email }}" placeholder="Ex: joao.silva@mail.com">
            </div>
          </div>
          <br>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="document" class="form-label">CPF</label>
              <input type="text" class="form-control"  {{ documentVisibility }}  id="document" name="document" value="{{ userForm.document }}" placeholder="Ex. 806.949.290-26">
            </div>

            <div class="col-sm-6">
              <label for="phone" class="form-label">Telefone</label>
              <input type="text" class="form-control" id="phone" name="phone" value="{{ userForm.phone }}" placeholder="Ex: (41)99999-9999">
            </div>
          </div>
          <br>
          <div class="col-12">
            <label for="address" class="form-label">Endereço</label>
              <input type="text" class="form-control" id="address" placeholder="Ex: Rua Amarela, 10 - Curitiba" name="address" value="{{ userForm.address }}">
          </div>
          <br>
          <div class="col-md-12">
            <label for="role" class="form-label">Tipo</label>
            <select class="form-select form-control" id="role" name="role">
              {{#select userForm.role}}
                <option disabled selected value>Selecione...</option>
                <option value="0">Administrador</option>
                <option value="1">Usuário</option>
              {{/select}}
            </select>
          </div>
          <hr class="my-4">

          <button class="w-100 btn btn-primary-light-color btn-lg" type="submit">Salvar</button>
        </form>
      </div>
    </div>
  </main>
  <br>
  <br>
</body>